*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#f6f8f9;
}

/* HEADER */
header{
    background-color: #ffff;
    height: 80px;
}
.logo{
    padding:15px;
}
.title-container{
    display: inline-block;
}
.title-container > span{
    font-size: 40px;
    font-family: 'Roboto' , sans-serif;
    float: left;
    line-height: 80px;
}

/* MAIN */
.main-container{
    width: 70%;
    height: 780px;
    margin: auto;
    margin-top: 50px;
    background-color: #ffff;
}
/* SECTION BOTTON */
.button{
    padding-top:15px;
    padding-left: 60px;
}
.bt{
    border-color:lightgrey;
    border-radius: 5px;
    padding: 8px;
}
.task{
    background-color: #47adf1;
    color: white;
}
.section{
    background-color: white;
    color: lightgrey;
}
hr{
    margin-top: 15px;
    color: lightgrey;
    background: lightgrey;
    height: 1px;
    border:0px;
}
/* SECTION MENU-SCROLL */
.newtask, .today, .upcoming{
    margin-top:40px;
}
.trianglescroll{
    display: inline-block;
    width: 0;
    height: 0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:15px solid black;
    margin-left:60px;
    margin-top:25px;
}
h1{
    display: inline-block;
    font-size: 25px;
    font-family: 'Roboto' , sans-serif;
    line-height: 25px;
}
.description{
    margin-bottom:5px;
}
.circle-entity{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid green;
    margin-left: 70px;
    margin-top:10px;
}
.circle-entity-cross{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid red;
    margin-left: 70px;
    margin-top:10px;
}
.check{
    color:green;
    font-size: small;
    margin-left:2px;
    font-style: bold;
}
.cross{
    color:red;
    font-size: small;
    margin-left:2px;
    font-style: bold;
}
.content{
    display: inline-block;
    margin-left: 5px;
    font-size: 16px;
    font-family: arial;
}
.description > button{
    margin-left:5px;
    border:0;
    border-radius:20px;
    padding: 5px 8px 5px 8px;
    font-size:12px;
    color:white;
}
.editorial{
    background-color: #47adf1;
}
.goals{
    background-color: #996ee3;
}.recruiting{
    background-color: #64c0a9;
}.mobile{
    background-color: #f29e33;
}
.website{
    background-color: #d863a1;
}
.sales{
    background-color: #b0c926;
}